# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Data files (we don't want huge corpora in GitHub)
# data/
# data.zip
# *.zip

# Dicta outputs
# outputs/
data/output/modernOutput/literary/T.json 
data/output/modernOutput/literary/O.json
# *.json

# Input corpora
# input_texts/

# System files
.DS_Store
Thumbs.db
